/* 页面公共scss */
page {
  background-color: #eee;
  color: #333;
  font-family: PingFangSC-Regular, PingFang SC;
}

image {
  will-change: transform;
}

.u-button--active {
  &:before {
    opacity: 0 !important;
  }
}
